* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

//Fine FontAwesome

//container
.container-small {
    width: 1030px;
    margin: 0 auto;
}
//FINE CONTAINER
//Font-size 
.font-s18{
    font-size: 18px;
}
//Height
.height100{
    height: 100%;
}
.height110{
    height: 110px;
}
.height200 {
    height: 200px;
}
.height300 {
    height: 300px;
}
.height350 {
    height: 350px;
}
.height728 {
    height: 728px;
}
.heightBanner {
    height: calc(100% - 240px);
}
//FINE HEIGHT
//Larghezze
.width300 {
    width: 300px;
}
//Disposizioni
.orizzontal {
    display: flex;
}
//Centrature
.verticalCentering {
    display: flex;
    align-items: center;
}
.orizzontalCentering {
    display: flex;
    justify-content: center;
}
.verOriCentering {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dirCol {
    flex-direction: column;
}
//Centratura testo
.textCenter{
    text-align: center;
}
//Margini 
.marginL10{
    margin-left: 10px;
}
.marginR10{
    margin-right: 10px;
}
.marginR5{
    margin-right: 5px;
}
.marginB10 {
    margin-bottom: 10px;
}
//Padding 
.paddingTop25 {
    padding-top: 25px;
}
.paddingBottom25 {
    padding-bottom: 25px;
}
.paddingLeft25{
    padding-left: 25px;
}
.paddingRight25 {
    padding-right: 25px;
}
