
//FONT-SIZE
$fontSize13: 13px;
$fontSize16: 16px;
$fontSize65: 65px;
$fontSize20: 20px;
$fontSize30: 30px;
//Fine 

//COLOR
$colorWhite: white;
$colorOrange: #ee6059;
$colorLightBlack: #1a1c1e;
//COLOR - TYPE GRAY
$colorDoveGray: #6b6b6b;
//Fine TYPEGRAY
//Fine

//BACKROUND
$backgroundShark:#252a2d;
$backgroundGrayLight: #25292b;
$backgroundDarkGray: #1f2123;
//Fine